* {
  margin: 0;
  padding: 0;
}
.registration,
.login {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
}
.form {
  width: 40em;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.headertext {
  color: red;
  font-size: 28px;
  text-align: center;
  margin-bottom: 3rem;
}
label {
  font-weight: bolder;
  margin-top: 15px;
}
input[type="text"],
input[type="password"] {
  width: 40em;
  margin-bottom: 5px;
  padding-top: 30px;
  border: none;
  border-bottom: 3px solid red;
}

input:focus {
  outline-color: #998f8f00;
}
button,
.forgot_password {
  align-self: center;
  width: 100px;
  margin: 30px;
  padding: 5px;
  border-radius: 10px;
}

.password,
.terms {
  display: inline;
}

.icon {
  position: relative;
  right: 30px;
}

.login_buttons {
  display: flex;
  justify-content: center;
}
.login-button,
.confirm-button {
  background-color: red;
  color: white;
}
.register-button {
  background-color: white;
}

a.terms-link {
  color: red;
  margin-left: 100px;
}

input[type=checkbox]:active{
background-color: red;
}